@font-face {
  font-family: "catchregular";
  src: url("./assets/fonts/catch-webfont.woff2") format("woff2"),
    url("./assets/fonts/catch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
